<!DOCTYPE html>
<html>
<head>
  <title>Coachbot</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <form method="post" id="user_infos" action="/generate_gymplan" onsubmit="return valider()">
      <h1>Welcome to Coachbot!</h1>
      <p>Fill in the form below with your information to receive a personalized gym plan tailored to your needs and goals.</p> 
      <p>Coachbot will analyze your inputs and generate a customized workout plan to help you achieve your fitness objectives.</p>  
      <input type="text" placeholder="Name"><br>
      <input type="number" name="age" id="age" placeholder="Age" required><br>
      <input type="number" name="weight" id="weight" placeholder="Weight (kg)" required><br>
      <input type="number" name="height" id="height" placeholder="Height (cm)" required><br>
      <select name="sex" id="sex" placeholder="Sex" required>
        <option value="man">Man</option>
        <option value="woman">Woman</option>
      </select><br>
      <input type="text" name="city" id="city" placeholder="City" required><br>
      <input type="text" name="goal" id="goal" placeholder="Goal" required><br>
      <input type="number" name="ideal_weight" id="ideal_weight" placeholder="Ideal Weight (kg)" required><br>
      <input type="text" name="place" id="place" placeholder="Place of Exercise" required><br>
      <input type="number" name="train_freq" id="train_freq" placeholder="Training Frequency" required><br>
      <select name="level" id="level" placeholder="Training Level" required>
        <option value="beginner">Beginner</option>
        <option value="intermediate">Intermediate</option>
        <option value="advanced">Advanced</option>
      </select><br>
      <input type="number" name="duration" id="duration" placeholder="Training Duration (minutes)" required><br>
      <input type="number" name="intensity" id="intensity" min="1" max="5" placeholder="Training Intensity (1-5)" required><br>
      <input type="number" name="discipline" id="discipline" min="1" max="5" placeholder="Discipline (1-5)" required><br>
      <button type="submit">Get my GymPlan</button>
    </form>
  </div>
  <div class="loading-container">
    <div class="loading-bar">
      <div class="progress"></div>
      <div class="percentage"></div>
    </div>
    <div class="feedback-messages"></div>
  </div>

  <script src="{{ url_for('static', filename='js/index_script.js') }}"></script>
</body>
</html>